<!doctype html>
<html lang="en">
<head>
  <% include partials/head %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style-park.css">
</head>

<body>
  <header>
    <% include partials/header %>
  </header>

  <main>
      <h1> <%= park.name %> </h1>
      <h4> State </h4>
          <p> <%= park.state %> </p>
      <h4> Description </h4>
          <p> <%= park.description %> </p>
      <h4> Latitude </h4>
          <p> <%= park.lat %> </p>
      <h4> Longitude </h4>
          <p> <%= park.long %> </p>
      <h4> Weather </h4>
          <p> <%= park.weatherInfo %> </p>
      <h4> Website </h4>
          <a href= <%= park.url %>> <%= park.name %> </a>
      <h4> Reviews </h4>
          <p> PUT REVIEWS DATA HERE </p>

      <a class="waves-effect waves-light btn-large right" href="/parks">National Parks</a>
      <a class="waves-effect waves-light btn-large" href="/profile/bucketlist/add/<%= park._id %>">Add to Bucket List</a>
      <a class="waves-effect waves-light btn-large" href="/profile/visited/add/<%= park._id %>">Mark Visited</a>
  </main>

 </body>
</html>
